@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: .5rem;
    text-align: center;
    color: v.$blanco;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error {
        background-color: v.$rojo;
    }
    &.exito {
        background-color: v.$verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: v.$verde;

        th {
            color: v.$blanco;
            padding: 2rem;
        }
    }
    .imagen-tabla {
        width: 10rem;
    }
}
.imagen-small {
    width: 15rem;
}

.imagen-form {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 4fr;
}
input.boton-rojo-block {
    align-items: center;
}

.form-admin-action {
    @include m.tablet {
        @include m.grid(2, 2rem);

        align-items: center;
        justify-content: center;

    }
    
    .boton-rojo-block {
        
        //width: 100%;
        padding: 1.5rem 3rem;
        margin-top: 1.5rem;
    }
    .boton-amarillo-block {
        margin-top: 1.5rem;
        // padding: 1.5rem 3rem;
        //width: 100%;
    }
}