:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}
.krub-regular {
  font-family: "Krub", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.krub-bold {
  font-family: "Krub", sans-serif;
  font-weight: 700;
  font-style: normal;
}


html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;

}
.titulo span {
    font-size: 2rem;
}
.contenedor {
    width: 120rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}