@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:math';

.footer {
    padding: math.div(v.$separacion, 2) 0;
    background-color: v.$grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: math.div(v.$separacion, 2);
        
    }
    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}